.navbar {
  background-color: #393f4d;
}

.navbar-default .navbar-nav > li > a:hover {
  color:white !important;
}

.navbar-default .navbar-brand {
    color: white;
}


.navbar-default .navbar-nav > li > a:hover {
    background-color: white;
    color: #393f4d !important;
}


body {
   background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), image-url('coding.jpg');
}

.form-font {
  font-size: 18px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    width: 300px
}

.simple-calendar {
  .day {
    border-color: black;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
   color: black;

   font-size: 15px;
   background-color: #C9DDE1;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    color: black;
   
  }

  .table-striped th{
  color: grey;
  background-color: #BAC0C1;
  }

  .table-striped {
  color: #18667B;
  } 
  
}

h3:hover {
  color: #A3E4D7;
  background-color: grey;
}
