.navbar {
  background-color: #393f4d;
}

.navbar-default .navbar-nav > li > a:hover {
  color:white !important;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: white;
    color: #393f4d !important;
}

// .navbar-brand a:hover {
//     background-color: white;
//     color: #393f4d;
// }
