<h1>Appointments</h1> <br>

<%@appointments.each do |appointment|%>
  <div class="divider">
   <!--  <h4>Appointment</h4> -->
    Mentor: <%= link_to appointment.mentor.name, appointment.mentor %><br>
    Topic: <%=appointment.topic %><br>
    Time: <%=appointment.start_time %><br><br>
    <%= link_to 'book session', edit_appointment_path(appointment), class: "book" %>
</div> <br>
<%end%>


