<h3>Appointments</h3>
<%@appointments.each do |appointment|%>
  <h4>Appointment</h4>
  Mentor: <%=appointment.mentor.name %><br>
  Topic: <%=appointment.topic %><br>
  start_time: <%=appointment.start_time %><br>
  <%= link_to 'book appointment', edit_appointment_path(appointment) %>
<%end%>


