<h3>Appointments</h3>

<%@appointments.each do |appointment|%>
  <h4>Appointment</h4>
  Mentor:<%= link_to appointment.mentor.name, appointment.mentor %><br>
  Topic: <%=appointment.topic %><br>
  Time: <%=appointment.start_time %>
  <%= link_to 'book appointment', edit_appointment_path(appointment) %>
<%end%>


